<!DOCTYPE html>
<html lang="es">
<head>
    <style>
      body {
        background: url('/img/fondo-home.png') no-repeat center center fixed !important;
        background-size: cover !important;
      }main { background: transparent !important; min-height: 80vh; }

      .login-page {
        background: transparent; 
      }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperar Contraseña</title>
  <link rel="icon" href="/img/favicon2.png" type="image/png">
  <link rel="stylesheet" href="/css/intranet.css">
</head>

  <div class="login-page">
    <div class="card-login">
      <h2>Recuperar contraseña</h2>

      <% if (locals.error) { %>
        <div class="mensaje-error" style="text-align: center;"><%= error %></div>
      <% } %>

      <form action="/forgot-password" method="POST" class="form-login">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required autofocus>

        <button type="submit">Enviar correo</button>
      </form>

      <div class="login-links">
        <a href="/login">Volver al inicio de sesión</a>
      </div>
    </div>
  </div>

</body>
</html>