<h2>Organigrama</h2>
<p>A continuación se presenta el organigrama actualizado de Transworld.</p>

<div class="organigrama-contenedor">
  <img
    src="/img/Organigrama%20TW.png"
    alt="Organigrama Transworld"
    class="organigrama-img"
  >
</div>
